<!DOCTYPE html>

{% load static %}

<html style="background:white;">
    <head>
        {% if group_name %}
          <title>NAPKIN // {{ group_name }}</title>
          <meta charset = "UTF-8" />
        {% endif %}
        <meta name="viewport" content="width=device-width">
        <link href='https://fonts.googleapis.com/css?family=Palanquin:300,500' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{% static "stylesheet.css" %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png" %}">
        <meta charset="UTF-8">
    </head>

    <body>

      <div class="header_container">

        <div class="header_content">
            <form action="http://www.thisisnapkin.com/">
              <input type="submit" value="NAPKIN" class="submit-home">
            </form>
          </div>

        <div class="feedback_button">
            <form action="http://www.thisisnapkin.com/feedback">
              <input type="submit" value="SEND FEEDBACK" class="submit-feedback">
            </form>
        </div>

      </div>


      <div class="group_page_container">

        <div class="group_title">
          {% if group_name %}
            <span class="title">{{ group_name }}</span></br>
            {% if post_count > 0 %}
              <span class="since">{{ post_count }} posts</span></br>
            {% endif %}
            <span class="since">{{ created_date }}</span></br>
          {% endif %}
        </div>

        <!-- group content start -->
        <div class="group_container">

          <div class="post_list">
            {% if posts %}
              {% for post in posts %}
              <div class="post">
                {% if post.url %}
                  <a class="link_title" id="{{ post.id }}" href="{{ post.url }}" target="_blank">{{ post.title }}</a></br>
                  {% if post.text %}
                    <span class="comment">{{ post.text }}</span></br>
                  {% endif %}
                  <img style="vertical-align:middle;" alt="{{ post.site_name }}" src="http://www.google.com/s2/favicons?domain_url={{ post.site_url }}" alt="{{ post.site_name }}" />
                  <a class="domain" id="{{ post.id }}" href="{{ post.site_url }}" target="_blank">{{ post.site_name }}</a></br>
                {% endif %}
                <span class="since">{{ post.created }}</span>
                {% if post.hits > 0 %}
                    <span class="since" style="font-weight: 700">
                    {% if post.hits == 1 %}
                        | {{ post.hits }} hit
                    {% else %}
                        | {{ post.hits }} hits
                    {% endif %}
                    </span>
                {% endif %}
              </br></br>
              </div>
              {% endfor %}
            {% else %}
              <p>This is a new napkin.</br>Be the first to post!</p>
            {% endif %}
          </div>
        </div>
        <!-- group content end -->

        <!-- post form start -->
        <div class="side">
        <div class="post_container">
          <div class="form_group">
             <form method="post" style="width:300px;" novalidate action="{% url 'group_page' group_name_slug %}">

               {% csrf_token %}
               {% for hidden in post_form.hidden_fields %}
                   {{ hidden }}
               {% endfor %}

               Post new link:</br>
               <span>{{ post_form.url }}</span></br>
               <span>{{ post_form.text }}</span></br>
               <span style="color:red;">{{ post_form.errors.as_text }}</span>

               <input type="submit" name="submit" value="POST" class="submit-post" required/>
             </form>
           </div>
        </div>
        <!-- group form end -->

        <div class="email_container">
          <div class="form_group">
             <form method="post" style="width:300px;" action="{% url 'email_subscriber' group_name_slug %}">

               {% csrf_token %}
               {% for hidden in email_form.hidden_fields %}
                   {{ hidden }}
               {% endfor %}

               Get updates about new content on this list:<br>
               <span>{{ email_form.email }}</span></br>
               <span style="color:red;">{{ post_form.errors.as_text }}</span>
               <input type="submit" name="submit" value="SUBSCRIBE" class="email" required/>
             </form>
           </div>
        </div>
      </div>



      </div>






            <!-- group form start -->

            <!-- <form class="form_header" method="post" action="{% url 'group_page' group_name_slug %}">

              {% csrf_token %}
              {% for hidden in group_form.hidden_fields %}
                  {{ hidden }}
              {% endfor %}

              {% for field in group_form.visible_fields %}
                  {{ field.errors }}
                  {{ field }}
              {% endfor %}

              <input type="submit" name="submit" value="GO" class="submit"/>
            </form> -->

            <!-- group form end -->


          <!-- GOOGLE ANALYTICS STARTS -->
          <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-68418424-2', 'auto');
              ga('send', 'pageview');
          </script>
          <!-- GOOGLE ANALYTICS ENDS -->

        <footer class="footer">
            <div id="footer_left">
                <a id="about_link" href="http://www.thisisnapkin.com/about/">About NAPKIN</a>
            </div>
            <div id="footer_right">
                 Copyright 2016 Napkin. All Rights Reserved.
            </div>
        </footer>
        <script type="text/JavaScript" src="{% static "scripts/jquery-3.1.0.min.js" %}"/></script>
        <script type="text/JavaScript" src="{% static "scripts/ccount.js" %}"/></script>
    </body>

</html>
