<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>NAPKIN: Share Content</title>
        <meta charset = "UTF-8" />
        <meta name="viewport" content="width=device-width">
        <link href='https://fonts.googleapis.com/css?family=Palanquin:300,500' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{% static "stylesheet.css" %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png" %}">
    </head>

    <body>
      <div class="feedback_button">
          <form action="http://www.thisisnapkin.com/feedback">
            <input type="submit" value="SEND FEEDBACK" class="submit-feedback">
          </form>
      </div>


      <div class="content">

        <div class="main_block">

          <img id="center" alt="NAPKIN logo" src="{% static "images/napkin_logo.svg" %}" alt="NAPKIN logo" />
          <h1 class="title1" id="center" alt="NAPKIN is a place where you can list links of content.">NAPKIN is a place where you can list links of content.</h1>
          <span class="subtitle" id="center" alt="Share your list url, so your friends will contribute their content.">Share your list url, so your friends will contribute their content.</span>
          <span class="subtitle" id="center" alt="No registration. No signup.">No registration. No signup.</span>


          <div class="form">
            <span style="font-size:14px">Create a new list (or go to an existing one):</span>
            <div>
              <form  method="post" action="{% url 'index' %}">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}

                    {{ field }}
                {% endfor %}

                <input type="submit" name="submit" value="GO" class="submit"/>
            </div>
            </form>
          </div>

          <div class="lists">

            <div class="popular">
              {% if popular_groups %}
              <span class="list_title">Most active napkins:</span>
                <ul>
                {% for group in popular_groups %}
                  <li><a a class="popular_link" href="{{ group.url }}">{{ group.name }}</a></li>
                {% endfor %}
                </ul>
              {% endif %}
            </div>

            <div class="recently">
              {% if popular_groups %}
                <span class="list_title">Recently visited:</span>
                <ul>
                {% for group in popular_groups %}
                  <li><a class="recently_link" style="margin-left:0px;" href="{{ group.url }}">{{ group.name }}</a></li>
                {% endfor %}
                </ul>
              {% endif %}
            </div>

          </div>

        </div>

        </div> <!-- end: main block -->
      </div>  <!-- end: content -->
      <!-- GOOGLE ANALYTICS STARTS -->
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-68418424-2', 'auto');
          ga('send', 'pageview');
      </script>
      <!-- GOOGLE ANALYTICS ENDS -->
      <footer class="footer">
          <div id="footer_left">
              <a id="about_link" href="http://www.thisisnapkin.com/about/">About NAPKIN</a>
          </div>
          <div id="footer_right">
               Copyright 2016 Napkin. All Rights Reserved.
          </div>
      </footer>
    </body>

</html>
