<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>NAPKIN: About</title>
        <meta charset = "UTF-8" />
        <link href='https://fonts.googleapis.com/css?family=Palanquin:300,500' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{% static "stylesheet.css" %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png" %}">
    </head>

    <body>


      <div id="header_content">
          <form action="http://127.0.0.1:8000/">
            <input type="submit" value="NAPKIN" class="submit-home">
          </form>
      </div>

        <div id="main_block">
          <span style="font-weight:500">Dror: </span><span style="font-style:italic"></span></br>

          <span style="font-weight:500">Dror: </span><span style="font-style:italic">"But let's not make it social."</span></br>
          <span style="font-weight:500">Asaf: </span><span style="font-style:italic">"Of course not."</span></br>
          <span style="font-weight:500">Dror: </span><span style="font-style:italic">"No registration. Not signup."</span></br>
          <span style="font-weight:500">Asaf: </span><span style="font-style:italic">"Simple. I love it."</span></br>
          <span style="font-weight:500">Asaf: </span><span style="font-style:italic">"Sounds like a great idea! Let's build it!"</span></br>
          <span style="font-weight:500">Dror: </span><span style="font-style:italic">"How should we call it?"</span></br>
          <span style="font-weight:500">Asaf: </span><span style="font-style:italic">"FatCat. or LinkHub."</span></br>
          <span style="font-weight:500">Dror: </span><span style="font-style:italic">"Right."</span></br></br>

          <span>NAPKIN is a place where everyone can create a list (a napkin) of internet content and thoughts, and share it anyone.</br>
            Create a new list by using

          <span style="font-size=10px">NAPKIN was designed and developed by Dror Ayalon (<a href"http://www.twitter.com/drorayalon">@drorayalon</a>) and Asaf Geva (<a href="http://github.com/asafge">asafge</a>).</br>
          Feel free to <a href="http://127.0.0.1:8000/feedback/">contact us</a> with anything regarding this project</span>
        </div>


      <footer class="footer">
          <div id="footer_left">
              About NAPKIN | Contact us!
          </div>
          <div id="footer_right">
               Copyright 2016 Napkin. All Rights Reserved.
          </div>
      </footer>
    </body>

</html>
