<!DOCTYPE html>

{% load static %}

<html>
    <head>
        {% if group_name %}
          <title>NAPKIN // {{ group_name }}</title>
        {% endif %}
        <link href='https://fonts.googleapis.com/css?family=Palanquin:300,500' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{% static "stylesheet.css" %}"/>
    </head>

    <body>

      {% if group_name %}
        <h1>{{ group_name }}</h1>
        {{ created_date }}</br>
      {% endif %}
      <div id="form">
        Create a new group (or go to an existing one):
        <form method="post" action="{% url 'index' %}">

          {% csrf_token %}
          {% for hidden in group_form.hidden_fields %}
              {{ hidden }}
          {% endfor %}

          {% for field in group_form.visible_fields %}
              {{ field.errors }}

              {{ field }}
          {% endfor %}

          <input type="submit" name="submit" value="GO" class="submit"/>
        </form>

      </div>

     <div id="form">
        <form method="post" action="{% url 'group_page' group_name_slug %}">

          {% csrf_token %}
          {% for hidden in post_form.hidden_fields %}
              {{ hidden }}
          {% endfor %}

          Post new link:</br>
          URL: {{ post_form.url }}</br>
          Comment: {{ post_form.text }}</br>

          <input type="submit" name="submit" value="POST" class="submit"/>
        </form>

      </div>

      <div>
        {% if posts %}
        <ul>
          {% for post in posts %}
          <li><a href="{{ post.url }}" target="_blank">{{ post.url }}</br></a>{{ post.text }}</li>
          {% endfor %}
        </ul>
        {% else %}
          <p>This is a new group. Be the first to post!</p>
        {% endif %}
      </div>


      <footer class="footer">
          <div id="footer_left">
              About NAPKIN | Contact us!
          </div>
          <div id="footer_right">
               Copyright 2016 Napkin. All Rights Reserved.
          </div>
      </footer>


    </body>

</html>
