<!DOCTYPE html>

{% load static %}

<html>
    <head>
        {% if group_name %}
          <title>NAPKIN // {{ group_name }}</title>
        {% endif %}
        <link href='https://fonts.googleapis.com/css?family=Palanquin:300,500' rel='stylesheet' type='text/css'>        <link type="text/css" rel="stylesheet" href="{% static "stylesheet.css" %}"/>
    </head>

    <body>

      this is a group page.



      <footer class="footer">
          <div id="footer_left">
              About NAPKIN | Contact us!
          </div>
          <div id="footer_right">
               Copyright 2016 Napkin. All Rights Reserved.
          </div>
      </footer>


    </body>

</html>
