<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>NAPKIN</title>
        <link href='http://fonts.googleapis.com/css?family=Cabin:700,400,400italic' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{% static "stylesheet.css" %}"/>
    </head>

    <body>
      <div id="main_block">
        <img id="center" alt="NAPKIN logo" src="{% static "images/napkin_logo.svg" %}" alt="NAPKIN logo" />
        <span class="title" id="center" alt="{{ maintitle }}" >{{ maintitle }}</span>
        <span class="subtitle" id="center" alt="{{ subtitle }}">{{ subtitle }}</span>
      </div>
      <footer>
        <div class="footer">
            <div id="footer_left">
                About NAPKIN | Contact us!
            </div>
            <div id="footer_right">
                 Copyright 2016 Napkin. All Rights Reserved.
            </div>
        </div>
      </footer>
    </body>

</html>
