<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>NAPKIN: Share Content</title>
        <link href='https://fonts.googleapis.com/css?family=Palanquin:300,500' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{% static "stylesheet.css" %}"/>
    </head>

    <body>
      <div id="main_block">
        <img id="center" alt="NAPKIN logo" src="{% static "images/napkin_logo.svg" %}" alt="NAPKIN logo" />
        <span class="title" id="center" alt="NAPKIN is a place where you can share content with a closed group of people.">NAPKIN is a place where you can share content with a closed group of people.</span>
        <span class="subtitle" id="center" alt="No registration. No signup.">No registration. No signup.</span>
        <div id="form">
          Create a new group (or go to an existing one):
          <form  method="post" action="{% url 'index' %}">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}

                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="GO" class="submit"/>
          </form>
        </div>
      </div>

      <footer class="footer">
          <div id="footer_left">
              About NAPKIN | Contact us!
          </div>
          <div id="footer_right">
               Copyright 2016 Napkin. All Rights Reserved.
          </div>
      </footer>
    </body>

</html>
